


/*----------------- footer-------------------- */
*{
    margin: 0;
    padding: 0;
    /* font-family: 'oxygien', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
.footer{
    background-color: rgb(94, 4, 94);
    color: white;
}
#footer{
    color: white;
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;
}
.footer_header ul li{
    list-style: none;
    margin-top: 10px;
}
.footer_header h2{
    margin: 20px 0;
    font-family: 'oxygien', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.footer_header .fa{
    margin: 10px 0;
    background-color: white;
    padding: 5px;
    margin: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: rgb(73, 4, 73);
    cursor: pointer;
}
.footer_header .fa:hover{
    cursor: pointer;
    color: white;
    background-color: magenta;
}
hr{
    width: 80%;
    justify-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.copy{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
    font-weight: 500;

}
/* ----------------end of footer------------- */