/* example on how to import style from another file into your css file */
@import 'common.css';

.fly{
    display: flex;
  
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.fly h1{
    font-size: 70px;
    font-weight: 600;
    color: rgb(255, 255, 255);
   
}

.fly p{
    font-size: 22px;
    color: white;
    font-weight:500 ;
    margin-top: -45px;
}

.flight-card{
    position: absolute;
    left: 175px;
    bottom: -120px;
    width: 75%;
    height: 270px;
    background-color:white;
    border-radius: 20px;
    z-index: 2;
}
.list{
    width: 60%;
    height: 70px;
    background-color:white;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.3);
    border-radius: 35px;
    position: absolute;
    top: -35px;
    left: 60px;
    margin-bottom:7px;
    
}
.btn1{
    color: purple;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 22px;
    margin-top: 7.5px;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: white;
    transition: .5s;
}

.btn1:hover{
    background-color: purple;
    color: white;
}

.form-box{
  
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
select{
    padding: 10px 40px;
   background-color: lightgray;
    border-radius: 7px;
    margin-right: 7px;
}
.slt1{
    padding: 10px 25px;
}
.slt2{
    padding: 10px 25px;
}
input{
    background-color: lightgray;
    margin-left: 10px;
    border: none;
    color: purple;
    font-weight: bold;
}
.inp1{
    padding: 10px 35px;
    border-radius: 7px;
}
.inp2{
    padding: 10px 35px;
    border-radius: 7px;
}

.inp3{
    padding: 10px 70px;
    border-radius: 7px;
    color: purple;
    

}
input::placeholder{
    color: purple;
    font-weight: bold;
}

select,option{
    color: purple;
    font-weight: bold;
}
.inp4{
    padding: 10px 70px;
    border-radius: 7px;
}
.btn2{
    padding: 20px 60px;
    background-color: green;
    color: white;
    margin-left: 35%;
    margin-top: 15px;
}

.btn2:hover{
    background-color: darkgreen;
    color: white;
}

.section{
    width: 100%;
    height: 1500px;
     background-color: purple;
}
.form-row{
    margin-bottom: 20px;

}
.flight-form{
    margin-right: 40px;
    
}

  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #00b359;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 6px 0 0;
  }
 
  .form-control::placeholder {
    color: gray;
  } 
  .btn-brown {
    background-color: #996633;
  }
  .form-control {
    flex: 1;
    padding: 12px;
    background: #f2f2f2;
    border: none;
    border-radius: 10px;
    color: #58006c;
    font-size: 15px;
  }
 
  .form-row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 15px;
  }
  .manage-checkin{

    display: none;

  }
  .form-section-content3{
    display: none;

  }